<!DOCTYPE html>
<html>
  <head>
      <title>Todo Show | Todo List Application</title>
      <link rel="stylesheet" href="../css/style.css" type="text/css" />
      <link rel="stylesheet" href="../css/show.css" type="text/css" />
  </head>
  
  <body>
    <h1>
      <img class="company-logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png"></img>
      Workshop Todo List
    </h1>
    
    <div class="card">
      <input type="checkbox" name=""/>
      <h2>Demo of a show page</h2>
      <p>
      	Here you can see the basics of a CRUD app. The Create and Read portion was on the previous page, here is the Update and Delete portion. :D
      </p>
      <span class="pomodoro-estimate">4 Pomodoros</span>
      <a href="#" class="button" id="edit-todo-button">Edit</a>
      <a href="#" class="button" id="delete-todo-button">Delete</a>
      <a href="index.html" class="simple-link">Go back...</a>
    </div>
  </body>
</html>